<h1 class="container bg-dark text-white text-center my-4 py-4">Hi, it is a *ngIf directive who name is show= {{show}}</h1>
<div class="container mt-5">
  <button class="btn btn-warning" (click)="show=!show">Action</button>
  <p class="text-info"  *ngIf="show; else showDos">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
  printer took a galley of type and scrambled it to make a type specimen book</p>
  <ng-template #showDos>
  <p class="text-danger" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
  printer took a galley of type and scrambled it to make a type specimen book</p>
  </ng-template>
